*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #664d07;
    flex-direction: column;
}

.grid-container {
    height: 90%;
    width: 50%;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    background-color: #f5f3ed;
}

.row {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.column {
    border: 1px solid black;
}


p{
    font-size: 2rem;
    font-family: roboto;
    color: white;
    font-weight: 900;
}

.grid-size {
    height: 10%;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input {
    width: 70%;
    height: 80%;
    padding-left: 1rem;
    font-family: roboto;
    font-size: 1rem;
    outline: none;
    border-radius: 5px;
    border: none;
}

input:focus{
    outline: 2px solid black;
}

#create-grid {
    height: 80%;
    width: 20%;
    font-family: roboto;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
}

#create-grid:hover {
    background-color: black;
    color: white;
    transition: 0.3s;
}

@media (max-width:780px) {
    .grid-container {
        width: 90%;
        height: 50%;
    }

    .grid-size {
        width: 90%;
    }
}